.tiles-grid {
@apply grid grid-cols-1 sm:grid-cols-3 gap-4;
}
.tile {
    @apply bg-white shadow-md p-2 text-blue-900 text-center;
}

.tile-title {
    @apply uppercase font-bold text-gray-500 text-xs text-center m-0;
}

.tile-value {
    @apply mt-1 text-3xl text-center font-bold;
}

.tile-desc{
    @apply text-xs text-gray-400;
}